.terminal {
    background-color: black;
    height: 400px;
}

.terminal_container {
    display: flex;
    flex-direction: row;
}

.terminal_dollar {
    padding: 2%;
}
.terminal_input {
    width: 100%;
    border: 0 0 0 2px;
    background-color: black;
    color: white;
}


.scroller {
    height: 300px;
    width: 100%;
    overflow: auto;
}

.item {
    display: flex;
    flex-direction: row;
    color: white;
  }


.ele {
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}